@import url("../../index.css");

.main {
    display: flex;
    flex-direction: column;
    padding: 95px 93px;
    color: var(--color-white);
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.content-main {}

h1 {
    font-family: var(--fontcliclerscript);
    font-size: var(--font-size-h1);
    font-weight: 400;
}

.content-text-main p {
    font-size: var(--font-size-body);
    font-weight: 400;
    width: 527px;
    line-height: 34px;
}

.content-text-main span {
    font-family: var(--fontplayfair);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body2);
}