@import url("../../index.css");


.card-coffe-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.card-coffe-style h3 {
    font-size: var(--font-size-body2);
    color: var(--color-brown);
    font-weight: bold;
    font-family: var(--fontplayfair);
}

.card-coffe-style p {
    font-family: var(--fontplayfair);
    font-size: var(--font-size-button);
    font-weight: bold;
    color: var(--color-light-black);
}

.price {
    color: var(--color-brown);
}

.content-card {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.text-card {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;

}