@import url("../../index.css");

.button{
    padding: 14px 26px;
    background-color: var(--color-yellow-pastel);
    border-radius: 24px;
    font-size: var(--font-size-button);
    color: var(--color-light-black);
    text-decoration: none;
    font-weight: bold;
}