@import url("../../index.css");

.Home {
    background-image: url("../../assets/img/mainbackground.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-color: var(--color-light-gray);
}
