@import url("../../index.css");

.header {
    display: flex;
    padding: 20px 93px;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontplayfair);
    font-weight: var(--font-weight-medium);
}

.nav-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-header ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-size-14);

}

.buttons-header {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: var(--font-size-14);

}

.signin {
    color: var(--color-white);
    text-decoration: underline var(--color-light-gray);
}

.signup {
    padding: 15px 27px;
    background-color: var(--color-yellow-pastel);
    color: var(--color-light-black);
    text-decoration: none;
    border-radius: 24px;
}