*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  --fontplayfair: "Playfair Display", serif;
  --fontcliclerscript: "Clicker Script", cursive;



  --background-white: #FFFEFC;
  --color-white:#FFF;
  --color-brown:#603809;
  --color-light-gray:#707070;
  --color-light-black:#1E1E1E;
  --color-yellow-pastel:#F9C06A;
  --color-yellow-pastel-opacity:#F9C06A6B
}
